.samplePosts {
	height: 400px;
	overflow-y: auto;
	margin-bottom: 20px;
}

.p-015rem {
	padding: 0.015rem;
}

.w-90 {
	width: 90%;
}

.min-cardH-2 {
	height: 16.5rem;
}

.min-cardH-12 {
	height: 42rem;
}

.p-7 {
padding: 10rem;
}

.h-scroll {
	float:left;
	overflow-y: scroll;
}