$rolayPurple: #663399;
$prelude: #d9badf;
$pearlRiver: #dee2e6;
$smoke: #ced4da;
$flint: #8e809c;
$white: #ffffff;
$primary: #f3722d;
$iris: #665c70;
$orchid: #a679d2;
$grape: #70657b;
$haze: #52495a;
$redFox: #c35817;
$rust: #8d4004;
$ginger: #be5504;
$spice: #7a3803;
$redSand: #ee7635;
$sunrise: #ffa351;
$plum: #583759;
$violet: #710193;
$mauve: #402060;
$darkViolet: #462369;
$oat: #f7d9b2;
$grey: #ddd;
$texasRose: #ffb75e57;
$gold: #ffd50059;
$ash: #f8f8f8;
$tiger: #fe6f5e;
$pumpkin:#e52d2d;
$danger: #ff0000;
$skinRed: #e86375;
$blush:  #ffe6e6;
$blueDark:  #104a8a;
$pistaGreen: #82b75f;
$green: #267c57;
$violet: #03203e;
$lightBlue: #d1e0f0;
$darkRed: #59698d;
$skyBlue:#c6dbf2b5;
$mustard: #ffa332;
$orange: #EA5C2B;
$bluee: #0781d7;
$targetBlue:#258d7e;
$purple:#24294e;