

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .order-box{
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    height: 140px;
    width: 100%;
    position: relative;
  }
  .order-box > span{
   position: absolute;
   right: 10px;
   bottom: 10px;
  }
  .order-box > span > i{
   font-size: 64px;
   opacity: 0.1;
  }
  .order-box.green-box{
    background-color: #C9F7F5;
  }
  .order-box.green-box ul li,
  .order-box.green-box > span > i{
    color: #1BC5BD;
  }
  .order-box.red-box{
    background-color: #FFE2E5; 
  }
  .order-box.red-box ul li,
  .order-box.red-box > span > i{
    color: #F64E60;
  }
  .order-box.yellow-box{
    background-color: #FFF4DE;
  }
  .order-box.yellow-box ul li,
  .order-box.yellow-box > span > i{
    color: #FFA800;
  }
  .order-box.blue-box{
    background-color: #E1F0FF;
  }
  .order-box.blue-box ul li,
  .order-box.blue-box > span > i{
    color: #3699FF;
  }
  .order-info.order{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .order-card ul li,
  .order-heads ul li{
    color: #818181;
  }
  .dull{
    color: #818181;
  }
  
  .order-table table thead tr th,
  .order-history table thead tr th{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    color: #474747;
  }
  .order-table table tbody tr td,
  .order-history table tbody tr td{
    font-size: 12px;
    font-weight: normal;
    color: #818181;
  }
  .table > :not(:first-child) {
    border-top: 1px solid #eee!important;
  }
  
  .order-fields .fields{
    display: block;
    background-color: #f5f5f5;
    border-radius: 4px;
    height: 60px;
    padding: 10px;
    text-align: right;
  }
  .order-fields .fields > span{
    display: block;
    width: 100%;
  }
  .order-fields .fields > span:first-child{
    font-size: 10px;
    color: #818181;
  }
  .txt-right{
    text-align: right;
  }
  
  .order-heads,
  .order-addr,
  .order-fields,
  .order-table,
  .order-history{
    margin-bottom: 30px;
  }
  .order-icons{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #36ad4363;
    color: #36ad43!important;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
  }
  .order-icons i{
     color: #36ad43!important;
  }
  
  .card-pay-info{
    padding: 20px;
    text-align: right;
  }
  .card-pay-info li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e4e4e4;
  }
  .card-pay-info li span{
    display: block;
    width: 100%;
    color: #3F4254;
  }
  .card-pay-info li span:first-child{
    font-size: 0.925rem;
    color: #B5B5C3 !important;
  }
  .ip-info{
    padding: 20px;
  }
  .ip-info > li{
    text-align: right;
  }


  .order-card{
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
}
.overview-box > h4{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
}

.ctab{
    background-color: #fff;
    margin-bottom: 0px!important;
    padding: 20px 20px 0px;
}
.ctab .nav-item button{
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #a1a5b7;
    font-weight: 600;
    cursor: pointer;
}
.ctab button.nav-link.active{
    border-bottom: 2px solid #000;
    color: #000;
    background-color: transparent;
}
.cst-header{
    padding: 0!important;
}
.cst-header > h4 > span > i{
   font-size: 16px
}
.txt-danger{
  color: #d9214e;
}
.txt-primary{
color: #0095e8;
}
.txt-info{
color: #5014d0;
}
.txt-success{
color: #47be7d;
}
.cst-shadow{
    box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
}
.card-custom .card-header .text-muted{
    font-size: 12px;
}
.no-border{
  border:0!important;
}
.no-padding{
  padding:0!important;
}
.one-db li{
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.one-db .text-muted{
  padding: 0;
  margin: 0;
}
.widgetfy i,
.widgetfy h4,
.widgetfy p{
  color: #fff;
}
.widgetfy h4, .widgetfy p{
  margin: 0!important
}

.pending-color {
  background: linear-gradient(112.14deg, rgb(255, 199, 0) 0%, #e3d7ad 100%) rgb(8, 6, 85);
}

.holding-color {
  background: linear-gradient(112.14deg, #ff8100 0%, #efbc0b 100%) #080655;
}

.sucess-color {
  background: linear-gradient(112.14deg, #50cd89 0%, #b3eba5 100%) #080655
}

.danger-color {
  background: linear-gradient(112.14deg, #ff2a2a 0%, #e96060 100%)
}
.tooltip [class$="inner"] {
  background-color: rgb(232, 114, 11);
  border: 1px solid white;
  color: white;
}