.some-page-wrapper {
    display: flex;
    height: 100%;
    background-color: #fff;
}
.graph-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 0px;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.box{
  border-radius: 20px;
  width: 30px;
  height: 30px;
  margin: 2px 0px 10px;
  position: relative;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}
.mid-column .box{
    margin: 0px 0px 40px!important;
}

.box.main{
    width: 52px;
    height: 52px;
    line-height: 52px;
    border-radius: 4px;
    background-color: #E1F0FF;
    color: #3699FF;
}
.box.main i{
    font-size: 16px;
}
.column > span{
    font-size: 12px;
    line-height: 15px;
}

.popify{
    position: absolute;
    top: -100px;
    left: -100px;
    width: 240px;
    min-height: 80px;
    height: auto;
    background-color: #ddd;
    display: none;
    z-index: 9999;
    padding: 10px;
  }
  .popify.active{
    display: block;
  }
  .popify > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .popify > ul > li{
    display: flex;
  }
  .popify > ul > div{
    text-align: left;
    border-bottom: 1px solid #888;
  }
  .popify > ul > li > span:first-child{
      width: 50px;
      font-size: 10px;
      margin-right: 10px;
      text-align: right;
      color: #888;
  }
  .popify > ul > li > span:last-child{
      font-size: 12px;
      text-align: left;
      color: #000;
  }
  .tooltip [class$="inner"] {
    background-color: rgb(34, 45, 83);
    border: 1px solid white;
    color: white;
  }

  .web-label-one {
    background-color: #224e81;
    color: white !important;
  }
  
  .web-label-one:hover {
    border: 2px solid #e1ae07 !important;
    background-color: transparent !important;
    color: black !important;
  }
  
  .web-label-two {
    background-color: #ad9f09;
    color: white !important;
  }
  
  .web-label-two:hover {
    border: 2px solid #e1ae07 !important;
    background-color: transparent !important;
    color: black !important;
  }
  
  .web-label-three {
    background-color: #513051;
    color: white !important;
  }
  
  .web-label-three:hover {
    border: 2px solid #e1ae07 !important;
    background-color: transparent !important;
    color: black !important;
  }
  
  .web-label-four {
    background-color: #2a6959b5;
    color: white !important;
  }
  
  .web-label-four:hover {
    border: 2px solid #e1ae07 !important;
    background-color: transparent !important;
    color: black !important;
  }
  
  .web-label-five {
    background-color: #028139;
    color: white !important;
  }
  
  .web-label-five:hover {
    border: 2px solid #e1ae07 !important;
    background-color: transparent !important;
    color: black !important;
  }

  .web-tab-header {
    background-color: #d9d9d9 !important;
    color: rgb(12, 12, 12) !important;
  }
  
  .web-label-six {
    background-color: #9c7d7d !important;
    color: whitesmoke !important;
  }

  .web-label-sixActive {
    border: 2px solid #d40000 !important;
    background-color: #d40000 !important;
    color: whitesmoke !important;
  }

  .web-label-six:hover {
    border: 2px solid #d40000 !important;
    background-color: #d40000 !important;
    color: whitesmoke !important;
  }
  .web-label {
    border: 2px solid #c76204 !important;
    background-color: transparent !important;
    color: black !important;
  }
  
  .web-label-seven {
    background-color: #3e2578;
    color: white !important;
  }
  
  .web-label-seven:hover {
    border: 2px solid #e1ae07 !important;
    background-color: transparent !important;
    color: black !important;
  }

  .color1 {
    color: #ab8707;
  }

  .color2 {
    color: #0b6395;
  }

  .backgroundcolor2 {
    background-color: #b6e5ff;
  }
  .color3 {
    color: #a00a2f;
  }

  .color4 {
    color: #0da452;
  }

  .text-capital {
    text-transform: uppercase !important;
  }
  