.card-spacer{
	padding: 1rem 1.25rem !important;
}
.card.card-custom {
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  border: 0;
}
.symbol.symbol-light-warning .symbol-label{
    background-color: #FFF4DE;
}
.symbol.symbol-light-danger .symbol-label{
  background-color: #FFE2E5;
}
.symbol.symbol-light-info .symbol-label{
  background-color: #EEE5FF;
}
.symbol.symbol-light-primary .symbol-label{
  background-color: #E1F0FF;
}
.symbol.symbol-light-success .symbol-label{
  background-color: #C9F7F5;
}


/*warning*/ 

.font-size-h3 {
  font-size: 1.5rem !important;
}
.text-dark-75 {
  color: #3F4254 !important;
}
.font-weight-bolder {
  font-weight: 600 !important;
}
.text-muted {
  color: #B5B5C3 !important;
}
.text-muted {
  color: #B5B5C3 !important;
}
.font-weight-bold {
  font-weight: 500 !important;
}
.mt-2, .my-2 {
  margin-top: 0.5rem !important;
}

svg-icon.svg-icon-xl svg {
  height: 2rem !important;
  width: 2rem !important;
}

.custom-toolbar{
  height: 64px;
  background-color: #fff;
  padding: 5px 15px;
}
.filter-ul{
  margin: 0px!important;
  padding: 0px!important;
  height: 54px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: right;
}
.filter-ul .react-c-select{
  width: 240px;
}
.filter-ul .btn-filter{
  background-color: #E8EDF3;
  margin-right: 5px;
  border-radius: 3px!important;
  cursor: pointer;
}
.filter-ul li{
  cursor: pointer;
}
.filter-ul li.active .btn-filter{
  background-color: #009ef7; 
  color: #f1faff;
}
iframe{
  position: absolute!important;
  left: 0!important;
  bottom: 0!important;
  width: 1px!important;
  height: 1px!important;
}
.newchart > span{
  height: 30px;
  text-align: right;
}
.capitalize{
  text-transform: capitalize;
}