.download-table-xls-button {
    padding: calc(-0.45rem + 1px) calc(0.25rem + 1px);
     cursor: pointer;
    color: black;
    border-color: transparent;
    background-color: transparent;
    font-size: 0.75vw;
    white-space: normal !important;
    font-size: 10px;
    font-weight: 900;
}
.download-table-xls-button:hover{
    color: #e9edf0;
}

.xl-sheet:hover{
    color: #e9edf0;
    background-color: #009ef7;

}

.xl-sheet {
    padding: calc(0.45rem + 1px) calc(0.55rem + 1px);
   cursor: pointer;
   color: #009ef7;
   border-color: #f1faff;
   background-color: #f1faff;
   font-size: 0.75vw;
   white-space: normal !important;
   font-size: 10px;
   font-weight: 900;
   border-radius: 5px;
}