  .pdf-p {
    padding-left: 80px;
    font-size: 10px;
    padding-right: 20px;
  }

  .pdf-table {
    border-bottom: 2px solid black
  }

  .pdf-Container {
    padding-top: 27px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
  }

  .pdf-text,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #153d58 !important;
  }

  .screenshot-image {
    width: 100%;
    height: 750px;
    object-fit: contain !important;
  }

  .z-n2 {
    z-index: -9999 !important;
  }

  .table-pdf>.table-responsive {
    display: flex;
    justify-content: center;
  }

  .table-pdf>.table-responsive>.table tr:first-child,
  .table-pdf>.table-responsive>.table th:first-child,
  .table-pdf>.table-responsive>.table td:first-child {
    padding-left: 12px !important;
  }

  .table-pdf>.table-responsive>.table td:last-child {
    padding-right: 12px !important;
  }

  .table-pdf>.table-responsive>.table {
    table-layout: fixed !important;
    --bs-table-striped-bg: #eff2f5 !important;
  }

  .table-url>thead>tr,
  .table-url>tbody>tr {
    border: 1px solid #333333 !important;
  }

  .url-table-parameter {
    width: 150px !important;
  }

  .table-url-description {
    display: table-cell !important;
  }